version: '3.8'

services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=${N8N_HOST:-localhost}
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - NODE_ENV=production
      - WEBHOOK_URL=http://${N8N_HOST:-localhost}:5678/
      - GENERIC_TIMEZONE=Asia/Dhaka
      - N8N_SECURE_COOKIE=false
    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - automation_net
    depends_on:
      - n8n-playwright

  n8n-playwright:
    image: browserless/chrome:latest
    restart: always
    ports:
      - "3001:3000"
    environment:
      - MAX_CONCURRENT_SESSIONS=10
    networks:
      - automation_net

volumes:
  n8n_data:


networks:
  automation_net:
    driver: bridge
